

/** Animation */

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* End of Animation code */


body {
    background-color: #c3cdd1 !important;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px;
  
  }

  

  .jumbotron {
    animation: slideInLeft 2s ease-out; /* Animation applied*/

    position: relative;
    width: 628px;
    height: 663px;
    margin: 0 auto;
   background: url('../Images/onboardingImage.png') no-repeat center center;

    background-size: cover;
    border-radius: 8px;
    
    
  }
 

 
  
  .logo {
    position:absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 200px;
    box-shadow: 0px 8px 8px #CECECE;
    z-index: 2;
  }
  
  h1 {
    animation: fadeIn 3s ease-out; /* Animation applied*/
    margin-top: 150px !important;
    position: relative;
    font-family: 'Fira Sans'; 
    font-style:normal;
    font-weight: 700 !important;
    font-size: 55px !important;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
  }
  
  .briefDespPara {
    
        animation: fadeIn 3s ease-out; /* Animation applied*/
    
    position: relative;
   
    /*font-family: 'Fira Sans';*/
    font-style: normal;
    font-weight: 500 !important;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    margin-top: 40px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 30px;
  }
  
  .button-container .btn {
    margin-right: 10px;
  }
  
  .bottomParagraph {
    text-align: center;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #556F7B;
  }
  
  .boldnunderlineText {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  #button1 {


    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;
    
    width: 178px;
    height: 56px;
    background: #C1809F;
    
    border-radius: 4px;
    color: #FFFFFF;
      }
    
  #button2 {
        
        box-sizing: border-box;
       
      
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        gap: 8px;
        
        width: 178px;
        height: 56px;
        border: 2px solid #556F7B;
        background: #FFFFFF;
        border-radius: 4px;
        color: #556f7b;
    }

    #bottomParagraph{
        font-weight: 400 !important;
       font-size: 16px !important;
     
     text-align: center;
     color: #556F7B;
      margin-bottom: 50px !important;


    }

    #briefDespPara{
        font-weight: 500 !important;
font-size: 30px !important;

text-align: center;
color: #FFFFFF;

    }
   